*{
    box-sizing: border-box;
}

.send-ionicon{
    font-size: 25px;

    cursor: pointer;

    color: rgb(0, 255, 0);
}

.send-ionicon:hover{
    color: silver;
}

.hint{
    display:flex;
    align-items: center;
    justify-content: center;

    vertical-align: center;

    font-weight: bold;
    font-size: 15px;

    border: 2px solid black;

    padding:3px;
    
    cursor:pointer;
}

.hint:hover{
    background-color: gray;
}

.hint-ionicon{
    font-size: 25px;
    pointer-events: none;
}

.disabled-hint{
    background-color: rgb(73, 73, 73);
    pointer-events: none;
}

.disabled-div{
    filter:brightness(20%);

    pointer-events: none;
}

.disabled-div:hover{
    filter: none
}